/**
Import Sans-Serif Web Font here using @import
**/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
  --bgColor1:hsl(240,100%,50%); /*primary1*/
  --bgColor2:hsl(240,100%,75%);/*primary2*/
  --fontColor1:hsl(0,100%,50%);/*secondary1*/
  --fontColor2:hsl(0,100%,90%);/*secondary1*/
  --navColor:hsl(240,10%,50%); /*grey1*/
  --footerColor:hsl(240,10%,85%);/*grey2*/
  --footerBgColor:hsl(0,5%,50%);/*grey3*/
  --navAnchorColor:hsl(0,5%,85%);/*grey4*/
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 1.7;
}

body {
  font-weight: 300;
}

header {
  padding: 1rem 2rem;
  font-size: 3rem;
  background-color: var(--bgColor1);
  color: var(--fontColor1);
}

nav {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--navColor);
}

nav a {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--navAnchorColor);
}

main {
  padding: 1rem 2rem;
  background-color: var(--bgColor2);
  color: var(--fontColor2);
}

main h2 {
  font-size: 2rem;
  color: var(--fontColor1);
}

main p {
  font-size: 1rem;
  margin: 1rem 0;
  font-family: Raleway, Arial, sans-serif;
}

ul {
  margin: 1rem 2rem;
}

main li {
  font-size: 1rem;
  font-family: Raleway, Arial, sans-serif;
}

footer {
  padding: 1rem 2rem;
  background-color: var(--footerBgColor);
}

footer p {
  margin: 1rem 0;
  font-size: 0.8rem;
  color: var(--footerColor);
}